@using RestaurantApp.Blazor.Services
@using RestaurantApp.Blazor.Services.Interfaces
@using RestaurantApp.Shared.DTOs.Users
@using RestaurantApp.Shared.Models

@inject AuthService AuthService
@inject NavigationManager Navigation
@inject PermissionService PermissionService
@inject TokenStorageService TokenStorageService
@inject NotificationService NotificationService

@inject IRestaurantService RestaurantService
@implements IDisposable

<header class="top-header">
    <div class="container-fluid">
        <div class="header-content">
            <div class="brand">
                @if (isEmployee)
                {
                    <a href="/RestaurantDashboard" class="brand-link">
                        <h1>DineOps</h1>for employees
                    </a>
                }
                else
                {
                    <a href="/homepage" class="brand-link">
                        <h1>DineOps</h1>
                    </a>
                }

            </div>
            <div class="header-actions">
                <div class="card-body d-flex flex-column justify-content-center">
                    @if (isEmployee && userRestaurantNames.Count > 1)
                    {
                        <button class="user-btn dropdown dropdown-toggle"
                                data-bs-toggle="dropdown"
                                style="cursor: pointer;">
                            <div>
                                <span class="user-name"> <i class="bi bi-house-door"></i> @activeRestaurantName</span>
                            </div>

                            <ul class="dropdown-menu">
                                @foreach (var item in userRestaurantNames)
                                {
                                    <li>
                                        <button class="dropdown-item"
                                                @onclick="() => SwitchActiveRestaurant(item.Id)">
                                            @item.Name
                                        </button>
                                    </li>
                                }
                            </ul>
                        </button>
                    }
                </div>
                @if (_isAuthenticated && _currentUser != null)
                {
                    <div class="dropdown">
                        <button class="user-btn dropdown-toggle"
                                data-bs-toggle="dropdown"
                                aria-expanded="false">
                            <span class="user-icon">
                                <i class="bi bi-person-circle"></i>
                            </span>
                            <span class="user-name">@_currentUser.Email</span>
                        </button>

                        <ul class="dropdown-menu">

                            <a class="dropdown-item" href="/UserSettings">
                                <i class="bi bi-person"></i> My profile
                            </a>

                            <a class="dropdown-item" href="/my-reservations">
                                <i class="bi bi-bag"></i> My reservations
                            </a>

                            <button class="dropdown-item" @onclick="HandleLogout">
                                <i class="bi bi-box-arrow-right"></i> Log out
                            </button>
                        </ul>

                    </div>
                }
                else
                {
                    <a href="/login" class="login-btn">
                        <span class="user-icon">
                            <i class="bi bi-person"></i>
                        </span>
                        Log in
                    </a>
                }

                <button class="menu-btn" @onclick="ToggleNotifications">
                    <span class="globe-icon">
                        <i class="bi bi-bell"></i>

                        @if (NotificationService.UnreadCount > 0)
                        { 
                            <span class="notification-badge">
                              @NotificationService.UnreadCount
                            </span>
                        }
                    </span>
                </button>
                <button class="hamburger-btn" @onclick="ToggleMenu">
                    <span class="hamburger-icon">
                        <i class="bi bi-list"></i>
                    </span>
                </button>
            </div>
        </div>
    </div>
</header>


<!-- Overlay -->
<div class="menu-overlay @(isMenuOpen ? "active" : "")" @onclick="CloseMenu"></div>

<!-- Slide Menu -->
<div class="slide-menu @(isMenuOpen ? "active" : "")">
    <div class="menu-content">
        <nav class="menu-nav">
            @if (_isAuthenticated)
            {
                <h3 class="menu-section-title">User options</h3>

                <a href="/my-reservations" class="menu-item" @onclick="CloseMenu">
                    <span>My reservations</span>
                </a>

                <a href="/my-reviews" class="menu-item " @onclick="CloseMenu">
                    <span>My reviews</span>
                </a>
                <a href="/UserSettings" class="menu-item mb-4" @onclick="CloseMenu">
                    <span>Profile settings</span>
                </a>
                if (isEmployee)
                {
                    <h3 class="menu-section-title">Employee options</h3>
                    if (canManageReservations)
                    {
                        <a href="/manage-reservations" class="menu-item" @onclick="CloseMenu">
                            <span>Manage reservations</span>
                        </a>
                    }

                    if (canEditRestaurant)
                    {
                        <a style="cursor: pointer" class="menu-item" @onclick="NavigateToEditRestaurant">
                            <span>Edit Restaurant</span>
                        </a>
                    }

                    <a href="/RestaurantDashboard" class="menu-item" @onclick="CloseMenu">
                        <span>Go to Dashboard</span>
                    </a>

                    <a href="/homepage" class="menu-item" @onclick="CloseMenu">
                        <span>Go to User View</span>
                    </a>
                    <a style="cursor: pointer" class="menu-item" @onclick="NavigateToRestaurant">
                        <span>See restaurant profile</span>
                    </a>
                }
            }
            else
            {
                <a href="/login" class="menu-item" @onclick="CloseMenu">
                    <span>log In</span>
                </a>
                <a href="/register" class="menu-item" @onclick="CloseMenu">
                    <span>Register</span>
                </a>
            }
        </nav>
    </div>
    <div class="menu-footer">
        @if (_isAuthenticated && _currentUser != null)
        {
            <div class="user-menu-item">
                <div class="user-info">
                    <div class="user-avatar">
                        <i class="bi bi-person-circle"></i>
                    </div>
                    <div class="user-details">
                        <span class="user-email">@_currentUser.Email</span>
                    </div>
                </div>
                <button class="logout-icon-btn" @onclick="HandleLogout">
                    <i class="bi bi-box-arrow-right"></i>
                </button>
            </div>
        }
        else
        {
            <a href="/login" class="menu-item user-menu-item" @onclick="CloseMenu">
                <div class="user-info">
                    <div class="user-avatar">
                        <i class="bi bi-person-circle"></i>
                    </div>
                    <span class="username">Gość</span>
                </div>
            </a>
        }
    </div>
</div>

@code {
    private bool isMenuOpen = false;
    private bool isUserMenuOpen = false;
    private bool _isAuthenticated = false;
    private ResponseUserDto? _currentUser;
    private Timer? _refreshTimer;

    private bool isEmployee = false;
    private bool canManageReservations = false;
    private bool canEditRestaurant = false;

    string activeRestaurantName = "";
    List<(int Id, string Name)> userRestaurantNames = new();


    
    protected override async Task OnInitializedAsync()
    {
        await CheckAuthenticationStatus();

        userRestaurantNames = await RestaurantService.GetRestaurantNames();
        string activeRestaurantIdString = await TokenStorageService.GetActiveRestaurantAsync();
        activeRestaurantName = userRestaurantNames.FirstOrDefault(r => r.Id.ToString() == activeRestaurantIdString).Name ?? "No restaurant selected";

        
        NotificationService.OnChange += StateHasChanged;
        AuthService.OnLogout += HandleOnLogOutEvent;
        TokenStorageService.OnActiveResturantChanged +=  ChangeActiveRestaurantDisplayName;
        _refreshTimer = new Timer(async _ =>
        {
            await InvokeAsync(async () =>
            {
                await CheckAuthenticationStatus();
                StateHasChanged();
            });
        }, null, TimeSpan.FromSeconds(30), TimeSpan.FromSeconds(30));
    }

    private async Task CheckAuthenticationStatus()
    {
        try
        {
            _isAuthenticated = await AuthService.IsAuthenticatedAsync();
            if (_isAuthenticated)
            {
                _currentUser = await AuthService.GetCurrentUserAsync();
                isEmployee = await PermissionService.IsEmployeeAsync();
                string activeRestaurantIdString = await TokenStorageService.GetActiveRestaurantAsync();
                if (!string.IsNullOrEmpty(activeRestaurantIdString))
                {
                    int activeRestaurantId = int.Parse(activeRestaurantIdString);
                    canManageReservations = await PermissionService.HasAnyPermissionAsync(activeRestaurantId, new[]
                    {
                        PermissionType.ManageReservations.ToString(),
                    });
                    canEditRestaurant = await PermissionService.HasAnyPermissionAsync(activeRestaurantId, new[]
                    {
                        PermissionType.ManageMenu.ToString(),
                        PermissionType.ManageEmployees.ToString(),
                        PermissionType.ManageTables.ToString(),
                        PermissionType.ManageRestaurantSettings.ToString()
                    });
                }
            }
            else
            {
                _currentUser = null;
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error checking auth status: {ex.Message}");
            _isAuthenticated = false;
            _currentUser = null;
        }
    }

    private async Task CheckPermissionsAsync()
    {
        if (_isAuthenticated)
        {
            // canManageReservations = await PermissionService.HasPermissionAsync(PermissionType.ManageReservations.ToString());
            // canEditRestaurant = await PermissionService.CanEditRestaurantAsync();
        }
        else
        {
            canManageReservations = false;
            canEditRestaurant = false;
        }
    }

    private void ToggleMenu()
    {
        isMenuOpen = !isMenuOpen;
        isUserMenuOpen = false; // Zamknij user menu
    }

    private void ToggleUserMenu()
    {
        isUserMenuOpen = !isUserMenuOpen;
        isMenuOpen = false; // Zamknij główne menu
    }

    private void CloseMenu()
    {
        isMenuOpen = false;
        isUserMenuOpen = false;
    }

    private async Task HandleLogout()
    {
        CloseMenu();
        await AuthService.LogoutAsync();
        _isAuthenticated = false;
        _currentUser = null;
        Navigation.NavigateTo("/", true); // Force reload
    }

    private void HandleOnLogOutEvent()
    {
        CloseMenu();
        _isAuthenticated = false;
        userRestaurantNames.Clear();
        _currentUser = null;
        StateHasChanged();
    }

    private async Task NavigateToEditRestaurant()
    {
        CloseMenu();

        var restaurantId = await TokenStorageService.GetActiveRestaurantAsync();

        Navigation.NavigateTo($"/restaurant/edit/{restaurantId}");
    }

    private async Task NavigateToRestaurant()
    {
        CloseMenu();

        var restaurantId = await TokenStorageService.GetActiveRestaurantAsync();

        Navigation.NavigateTo($"/restaurant/{restaurantId}");
    }

    public void Dispose()
    {
        _refreshTimer?.Dispose();
        NotificationService.OnChange -= StateHasChanged;
        AuthService.OnLogout -= HandleOnLogOutEvent;
        TokenStorageService.OnActiveResturantChanged -=  ChangeActiveRestaurantDisplayName;
    }
    private void ToggleNotifications()
    {
        NotificationService.ToggleListVisibility();
    }
    

    private async Task SwitchActiveRestaurant(int id)
    {
        await TokenStorageService.SaveActiveRestaurantAsync(id.ToString());
        activeRestaurantName = userRestaurantNames.FirstOrDefault(n => n.Id == id).Name ?? "No restaurant selected";
        StateHasChanged();
    }
    
    private async Task ChangeActiveRestaurantDisplayName()
    {
        string activeRestaurantIdString = await TokenStorageService.GetActiveRestaurantAsync();
        activeRestaurantName = userRestaurantNames.FirstOrDefault(r => r.Id.ToString() == activeRestaurantIdString).Name ?? "No restaurant selected";
        StateHasChanged();
    }

}